.header{
	text-align: center;
	margin-top: 50px;
}

.header .underline{
	width: 70px;
	height: 3px;
	background: gold;
	margin: 0 auto;
}

.header-links {
	width: 30%;
	min-width: 320px;
	margin: 50px auto;
	display: flex;
}


.header-links .btn{
	width: 80px;
    padding: 10px;
	border-radius: 5px;
	border: 1px solid #fafafa;	
	text-align: center;
	margin-right: 2px;
}

 .active{
	color: red;
	background: gold;
}

.btn:hover{
	background: gold;
}